.pokemonInfo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.pokemon-details-container {
    margin-top: 9rem;
    background-color: white;
    width: 80%;

}

.pokemon-img__container {
    width: 100.13%;
    background-color: #aaa;
    height: 160px;
    position: relative;
}

.pokemon-img {
    width: 40%;
    max-width: 20%;
    min-width: 250px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.pokemon-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12PX;
    padding-top: 36px;
}

.pokemon-id {
    border: 1px solid #aaa;
    padding: 6px 16px;
    font-size: 32px;
}

.pokemon-name {
    text-transform: capitalize;
    font-size: 44px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.pokemon-list-container {
    display: flex;
    gap: 34px;
}

.pokemon-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 4px;
    font-weight: 300;
}

.pokemon-list-span {
    font-weight: 600;
}

.pokemon-typeAndabilities-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    justify-content: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 12px;
}

.pokemon-type {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 12px;
}

.pokemon-abilities {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 12px;
}

.pokemon-h4 {
    grid-column: span 2;
    text-align: center;
    font-size: 28px;
}

.pokemon-type li:only-of-type {
    grid-column: span 2;
}

.pokemon-type__li {
    text-align: center;
    text-transform: capitalize;
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.pokemon-abilities li:only-of-type {
    grid-column: span 2;
}

.pokemon-abilities-li {
    text-align: center;
    text-transform: capitalize;
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}


.stats-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.stats-h3 {
    width: 75%;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.stats-ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 4rem;
}

.stat__list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
}

.stat-header {
    width: 75%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
}

.bar-container {
    height: 30px;
    width: 75%;
    background-color: rgba(240, 239, 239, 0.24);
    border-radius: 4px;
}

.progressbar {
    height: 100%;
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    border-radius: 4px;
}

.pokemon-movement__container {
    margin-top: 5rem;
    background-color: white;
    width: 80%;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
}

.pokemon-movement__title {
    font-size: 40px;
    margin-top: 4rem;
    margin-left: 68px
}

.pokemon-movement__movements {
    margin-top: 18px;
    margin-left: 68px;
    margin-right: 68px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.pokemon-movement__movement {
    padding: 8px 14px;
    background-color: rgba(235, 234, 234, 0.514);
    border-radius: 40px;
}

.bg-grass {
    background-image: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.border-grass {
    border: 0.4em solid #b8dcb1;
    border-top-width: 0.5em;
}

.name-grass,
.number-grass {
    color: #b8dcb1;
}

.type-grass {
    background-color: #b8dcb1;
    color: white;
}

.bg-fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.border-fire {
    border: 0.4em solid #e67d26;
    border-top-width: 0.5em;
}

.name-fire,
.number-fire {
    color: #e67d26;
}

.type-fire {
    background-color: #e67d26;
    color: white;
}

.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.border-water {
    border: 0.4em solid #4f9bfd;
    border-top-width: 0.5em;
}

.name-water,
.number-water {
    color: #4f9bfd;
}

.type-water {
    background-color: #4f9bfd;
    color: white;
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.border-bug {
    border: 0.4em solid #89cb77;
    border-top-width: 0.5em;
}

.name-bug,
.number-bug {
    color: #89cb77;
}

.type-bug {
    background-color: #89cb77;
    color: white;
}

.bg-normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.border-normal {
    border: 0.4em solid #95606b;
    border-top-width: 0.5em;
}

.name-normal,
.number-normal {
    color: #95606b;
}

.type-normal {
    background-color: #95606b;
    color: white;
}

.bg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.border-poison {
    border: 0.4em solid #8758b5;
    border-top-width: 0.5em;
}

.name-poison,
.number-poison {
    color: #8758b5;
}

.type-poison {
    background-color: #8758b5;
    color: white;
}

.bg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.border-ground {
    border: 0.4em solid #784d0c;
    border-top-width: 0.5em;
}

.name-ground,
.number-ground {
    color: #784d0c;
}

.type-ground {
    background-color: #8758b5;
    color: white;
}

.bg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.border-fighting {
    border: 0.4em solid #c64f31;
    border-top-width: 0.5em;
}

.name-fighting,
.number-fighting {
    color: #c64f31;
}

.type-fighting {
    background-color: #c64f31;
    color: white;
}

.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.border-ghost {
    border: 0.4em solid #4d53b8;
    border-top-width: 0.5em;
}

.name-ghost,
.number-ghost {
    color: #4d53b8;
}

.type-ghost {
    background-color: #4d53b8;
    color: white;
}

.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.border-rock {
    border: 0.4em solid #999999;
    border-top-width: 0.5em;
}

.name-rock,
.number-rock {
    color: #999999;
}

.type-rock {
    background-color: #999999;
    color: white;
}

.bg-dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.border-dark {
    border: 0.4em solid #2b2c2c;
    border-top-width: 0.5em;
}

.name-dark,
.number-dark {
    color: #2b2c2c;
}

.type-dark {
    background-color: #2b2c2c;
    color: white;
}

.bg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.border-ice {
    border: 0.4em solid #a2d9ef;
    border-top-width: 0.5em;
}

.name-ice,
.number-ice {
    color: #a2d9ef;
}

.type-ice {
    background-color: #a2d9ef;
    color: white;
}

.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.border-steel {
    border: 0.4em solid #7d968e;
    border-top-width: 0.5em;
}

.name-steel,
.number-steel {
    color: #7d968e;
}

.type-steel {
    background-color: #7d968e;
    color: white;
}

.bg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.border-dragon {
    border: 0.4em solid #67adb6;
    border-top-width: 0.5em;
}

.name-dragon,
.number-dragon {
    color: #67adb6;
}

.type-dragon {
    background-color: #67adb6;
    color: white;
}

.bg-electric {
    background: linear-gradient(152deg, rgb(245 228 0) 12%, rgba(254, 160, 75, 1) 61%, rgba(254, 159, 38, 1) 90%);
}

.border-electric {
    border: 0.4em solid #d1793b;
    border-top-width: 0.5em;
}

.name-electric,
.number-electric {
    color: #d1793b;
}

.type-electric {
    background-color: #d1793b;
    color: white;
}

.bg-fairy {
    background: linear-gradient(152deg, rgba(246, 101, 208, 1) 29%, rgba(236, 99, 246, 1) 49%, rgba(217, 38, 254, 1) 90%);
}

.border-fairy {
    border: 0.4em solid #dd38c9;
    border-top-width: 0.5em;
}

.name-fairy,
.number-fairy {
    color: #dd38c9;
}

.type-fairy {
    background-color: #dd38c9;
    color: white;
}

.bg-psychic {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.border-psychic {
    border: 0.4em solid #af3c63;
    border-top-width: 0.5em;
}

.name-psychic,
.number-psychic {
    color: #af3c63;
}

.type-psychic {
    background-color: #af3c63;
    color: white;
}

.bg-flying {
    background: linear-gradient(152deg, rgba(221, 255, 250, 1) 32%, rgba(165, 250, 251, 1) 66%, rgba(149, 255, 251, 1) 90%);
}

.border-flying {
    border: 0.4em solid #6ec0e7;
    border-top-width: 0.5em;
}

.name-flying,
.number-flying {
    color: #6ec0e7;
}

.type-flying {
    background-color: #6ec0e7;
    color: white;
}